{namespace t=TYPO3\TYPO3\ViewHelpers}

<!-- TODO: show the wrapping div only when logged in / when in non-live workspace -->


<t:contentElement node="{node}">

	<object width="{properties.width}" height="{properties.height}">
		<param name="movie"
				value="http://www.youtube.com/v/{properties.videoIdentifier}?version=3&autohide=1&showinfo=0"></param>
		<param name="allowScriptAccess" value="always"></param>
		<embed src="http://www.youtube.com/v/{properties.videoIdentifier}?version=3&autohide=1&showinfo=0"
				type="application/x-shockwave-flash"
				allowscriptaccess="always"
				width="{properties.width}" height="{properties.height}">
		</embed>
	</object>

</t:contentElement>